body {
    background-color: whitesmoke;
    font-family: 'Newsreader', serif;
    font-weight: 300;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 800px;
    margin: 0 auto;
}

p{ 
    font-family: "Inter", sans-serif;
    font-weight: 200;
}

h1{
    color: black;
    font-size: larger;
    font-weight: bolder;
} 

h2 {
    color: black;
    font-size: larger;
    font-weight: bolder;
} 