{% extends "base.html" %}

{% block page_title %}
<div class="pt-8">
<a href="{% url 'blog_index' %}">
    <p class="text-black underline underline-offset-1 text-xs">Home</p>
</a>
</div>
    <h2 class="text-3xl py-8 text-gray-700">{{ post.title }}</h2>
{% endblock page_title %}

{% block page_content %}
<div>
    <p class="pb-8 text-sm text-gray-500">
        {{ post.created_on.date }} 
    </p>

    <p class="leading-8 text-gray-700 mb-8">{{ post.body }}</p>

    <div class="mb-8 gap-8">
    <h3 class="font-medium">Leave a comment:</h3>
    <form method="post">
        {% csrf_token %}
        <div class="py-2">
            {{ form.author }}
        </div>
        <div class="py-2">
            {{ form.body }}
        </div>
        <a type="submit" href="{% url 'signup' %}" class="text-white px-6 py-2 rounded-md bg-amber-500 hover:bg-amber-700">Submit</a>
    </form>
    </div>

    <div class="py-6">
    <h3 class="font-medium">Comments:</h3>
    {% for comment in comments %}
        <p>
            On {{ comment.created_on.date }} <b>{{ comment.author }}</b> wrote:
        </p>
        <p>
            {{ comment.body | linebreaks }}
        </p>
    </div>
    {% endfor %}
</div>
{% endblock page_content %}