{% extends "base.html" %}

{% block page_content %}
<p class="py-4 font-medium">
    Hello, world!
</p>

    {% block posts %}
        {% for post in posts %}
        <div class="py-4">
            <h1 class="text-3xl my-2 ">
                <a href="{% url 'blog_detail' post.pk %}" class="text-gray-500 hover:text-orange-500 no-underline hover:no-underline visited:no-underline active:no-underline">
                    {{ post.title }}
                </a>
            </h1>
            <p class="text-xs py-2 text-gray-600">
                {{ post.created_on.date }}
            </p>
            <p class="py-4 tracking-wide text-gray-800">{{ post.body | slice:":400" }}...</p>
        </div>
        {% endfor %}
    {% endblock posts %}
{% endblock page_content %}