body {
    background-color: lightsalmon;
    font-family: "Overpass", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    color: #FFAC1C;
    font-size: larger;
}